html, body {
    background-color: #de746d;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* .btn {
    display: inline-block;
    height: 100%;
    width: 49%;
    margin-bottom: 0;
} */

.player-list-container {
    background-color: #333;
    width: 90vw;
    color: #fff;
    padding: 10px 0;
    border-radius: 10px;
}

.ready {
    background-color: red;
    height: 30px;
    transform: rotate(-45deg);
    width: 30px;
}

.ready:before,
.ready:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}

.ready:before {
    top: -15px;
    left: 0;
}